@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://unpkg.com/bulma@0.7.4/css/bulma.min.css');
/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
@import url('https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css');



.container{
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: #ECF0F3;
  height: 100vh;
}





/* 
.menu a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
}
.menu a:hover {
  background-color: transparent;
  color: #276cda;
}
 
.border{
  color:green;
  border: 1px solid green;
}

.borderBlue{
  border: 1px solid blue;
} */